body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

#main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

#img-div {
    text-align: center;
    margin-top: 20px;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#img-caption {
    margin-top: 10px;
    color: #777;
}

#tribute-info {
    margin-top: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#t1,
#t2,
#t3,
#t4,
#t5,
#t6 {
    font-weight: bold;
    margin-top: 20px;
}

#tribute-link {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #007bff;
    text-decoration: none;
}

#tribute-link:hover {
    text-decoration: underline;
}